<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class = "container">
            <div class = "header">
                <h1>Welcome, {{first_name}}</h1>
                <a href="#">Feed</a>
                <a href="#">Profile</a>
                <a href="/edit">Edit Info</a>
                <a href="/profile/{{user.id}}">Profile</a>

                <button><a href = "/logout">Logout</a></button>
            </div>
            <div class = "content">
                <p class = "prompt">"{{prompt.content}}"</p>
                <button type="#">Get new prompt</button>
                <h2>Write 3 Solutions:</h2>
                <form action = "/submit/{{prompt.id}}" method = "post">
                    {% csrf_token %}
                    <textarea rows="5" cols="100" name = "one"></textarea>
                    <textarea rows="5" cols="100" name = "two"></textarea>
                    <textarea rows="5" cols="100" name = "three"></textarea>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>