<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile of {{user.username}}</title>
        {% load static from staticfiles %}
        <link rel="stylesheet" href="{% static 'project/foundation/css/foundation.min.css' %}" media="screen" title="no title"  charset="utf-8">

        <link rel="stylesheet" href="{% static 'project/bootstrap/css/bootstrap-theme.min.css' %}" media="screen" title="no title"  charset="utf-8">
        <link rel="stylesheet" href="{% static 'project/bootstrap/css/bootstrap.min.css' %}" media="screen" title="no title"  charset="utf-8">
        <script src="{% static 'project/bootstrap/js/bootstrap.min.js' %}" ></script>

    <link rel="stylesheet" href="{% static 'project/css/profilestyles.css' %}" media="screen" title="no title"  charset="utf-8">
    <link rel="stylesheet" href="{% static 'project/css/getprofile.css' %}" media="screen" title="no title"  charset="utf-8">

    <style>
       .collab{
           display: none;
       }
    </style>
</head>
<body>

    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li style="font-weight:bold; font-size:20px">CreativeSpace</li>
          <li><a href="{% url 'admin:index' %}">Admin</a></li>            
          <li><a href="/home">Feed</a></li>
          <li><a style="font-weight:bold" href="/profile/{{login_user.id}}">Profile</a></li>
          <li><a href="/edit">Edit Info</a></li>
          <li><a href="/uploadprofile">Upload Picture</a></li>
          <li><button><a href="/logout">Logout</a></button></li>
        </ul>
      </div>
    </div>

        <div>
    <div class = "container">
        <div class="header">
            {% if user.document %}
                <p><a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
                <img class="profilepic" src="{{user.document}}" width="150" height="77" alt="profile picture of user">

                {% else %}
                <a href="/uploadprofile">Upload profile picture!</a>
              {% endif %}

            <div class="info">
                    <h3>{{user.first_name}} {{user.last_name}}</h3>
                <h3>User: {{user.username}}</h3>
                <h3>Points: {{user.point}}</h3>
            </div>
        </div>
        <ul class="tabs">
            <li class="getsol active">Solutions</li>
        </ul>

        <div class="containerinfo">
        <div class="solutions tab-content" >
            <h1 class="text-center">Top 3 High-Rated Solutions</h1>

            {% for i in solutions %}
                <div class="eachsol">
                    <p>{{i.prompt.content}}</p>
                    <p>{{i.content}}</p>
                    <p>{{i.likes.count}}</p>
                    <a href="/likeonprofile/{{i.id}}">Like</a>
                    <a href="/collaborate/{{i.id}}">Collaborate!</a>
                </div>
            {% endfor %}
        </div>
        <div>
        <!-- <div class="collab tab-content">
            <h1>Collaborations</h1>
            <ul>
                {% for i in collabs %}
                    <li>{{i}}</li>
                {% endfor %}
            </ul>

        </div> -->
        </div>
        </div>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
    //         $(".tab_content").hide();
    // $(".tab_content:first").show();

        //     $('.getsol').click(function(){
        //         // $('.solutions').animate({height: "toggle", opacity: "toggle"}, "slow");
        //         $('.solutions').show()
        //         $('.getsol').addClass('active')
        //         $('.getcol').removeClass('active')
        //         $('.collab').hide()
        // });

        // $('.getcol').click(function(){
        //         // $('.collab').animate({height: "toggle", opacity: "toggle"}, "slow");
        //         $('.collab').show()
        //         $('.solutions').hide()
        //         $('.getsol').removeClass('active')
        //         $('.getcol').addClass('active')
        // });

        </script>

</body>
</html>
