<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class = "header">
                <h4>{{user.username}}</h4>
                <a href="/home">Home</a>
                <a href="#">Feed</a>
                <a href="#">Profile</a>
                <a href="#">Edit Info</a>
                <button><a href = "/logout">Logout</a></button>
            </div>
        <h1>Solutions to "{{prompt.content}}"</h1>
        {% for solution in solutions %}
            <div class = "solution">
                <a href="">{{solution.user.username}}</a>
                <h3>{{solution.content}}</h3>
                <a href="#">{{solution.num_likes}}</a>
                <button><a href="/like/{{solution.id}}">Like</a></button>
            </div>
        {% endfor %}


    </body>
</html>
